<div class="text-center">
    <h1 class="display-4">Jogadores</h1>

    <table class="table text-left">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogador in ViewBag.Jogadores)
            {
                <tr>
                    <th scope="row">@jogador.Id</th>
                    <td>@jogador.Nome</td>
                </tr>
            }
        </tbody>
    </table>

</div>
